.login-input-password {
    margin-bottom: 20px;          /* Space between inputs */
    padding: 15px 20px;           /* Increased padding for larger input */
    border: 1px solid #ccc;       /* Light border */
    border-radius: 5px;           /* Slightly rounded corners */
    font-size: 18px;              /* Increased font size for better readability */
    box-sizing: border-box;       /* Prevents padding from affecting width */
    width: 100%;                  /* Input takes full width of the form */
    transition: border-color 0.3s ease;
}

/* Button styling */
.login-button {
    padding: 15px 20px;           /* Increased padding to match input size */
    background-color: #0071c2;    /* Blue button color */
    color: white;                  /* White text for contrast */
    border: none;                  /* No border */
    border-radius: 5px;           /* Rounded button corners */
    font-size: 18px;               /* Increased font size for better readability */
    cursor: pointer;
    width: 100%;                   /* Button takes full width of the form */
}
/* Input focus styling */
.login-input-password:focus {
    border-color: #0071c2;        /* Blue border on focus */
    outline: none;
}

.login-input-password::placeholder {
    color: #999;                 /* Lighter color for placeholder text */
}

.login-username-input{
    margin-bottom: 20px;          /* Space between inputs */
    padding: 15px 20px;           /* Increased padding for larger input */
    border: 1px solid #ccc;       /* Light border */
    border-radius: 5px;           /* Slightly rounded corners */
    font-size: 18px;              /* Increased font size for better readability */
    box-sizing: border-box;       /* Prevents padding from affecting width */
    width: 100%;                  /* Input takes full width of the form */
    transition: border-color 0.3s ease;
}

.login-username-input::placeholder {
    color: #999;                 /* Lighter color for placeholder text */
}

.login-username-input:focus {
    border-color: #0071c2;        /* Blue border on focus */
    outline: none;
}